@model TechniqueChangeEmployeeViewModel

@{
    ViewData["Title"] = "Перемещение техники";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Кабинеты</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Employee.CabinetId">Кабинет @Model.Employee.Cabinet.Name</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Employee.CabinetId">@Model.Employee.Fio</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Employee.CabinetId">Техника @Model.Technique.Name</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Перемещение</li>
    </ol>
</nav>
<br/>

<div class="row">
    <div class="col-lg-5 col-sm-12">
        <h4>Перемещение: @Model.Technique.Name, из кабинета @Model.Employee.Cabinet.Name, в кабинет @Model.SelectCabinet.Name</h4>
    </div>
    <div class="col-lg-1 col-sm-2">
        <i class="bi bi-arrow-right"></i>
    </div>
    <div class="col-lg-5 col-sm-10">
        <form method="post" asp-action="ChangeEmployeeModel">
            <div style="display: none;">
                <input asp-for="Employee.Id">
                <input asp-for="Employee.CabinetId">
                <input asp-for="SelectCabinetId">
                <input asp-for="Technique.Id">
            </div>
            Сотрудник:
            <select asp-for="SelectEmployeeId" class="custom-select">
                @foreach (Employee employee in Model.SelectCabinet.Employees.Where(e => e.Id != Model.SelectEmployeeId))
                {
                    <option value="@employee.Id">@employee.Fio</option>
                }
            </select>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
</div>