@using EngeneerLenRooAspNet.ViewModels
@model TechniquesViewModel

@{
    ViewData["Title"] = "Добавление техники";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Кабинеты</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Cabinet.Id">Кабинет @Model.Cabinet.Name</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Cabinet.Id">@Model.Employee.Fio</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Technique" asp-action="Index" asp-route-empId="@Model.Employee.Id">Тип техники</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Technique.TypeTechnique</li>
    </ol>
</nav>

<form asp-action="CreateModel">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none;">
        <input asp-for="EmployeeId" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Technique.TypeTechnique"></label>
        <input asp-for="Technique.TypeTechnique" class="form-control" readonly>
        <span asp-validation-for="Technique.TypeTechnique" class="text-danger"></span>
    </div>
    @if (Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Pc 
    || Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Modem 
    || Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Printer)
    {
        <div class="col">
            <label asp-for="Technique.IpComputer"></label>
            <div class="row">
                <div class="col-2">
                    <h6>192.168.100. - </h6>
                </div>
                <div class="col">
                    <input asp-for="Technique.IpComputer" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Technique.IpComputer" class="text-danger"></span>
        </div>
    }
    @if(Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Pc)
    {
        <div class="form-group">
            <label asp-for="Technique.MapNubmer"></label>
            <input asp-for="Technique.MapNubmer" class="form-control">
            <span asp-validation-for="Technique.MapNubmer" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="Technique.Name"></label>
        <input asp-for="Technique.Name" class="form-control">
        <span asp-validation-for="Technique.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" class="form-control">
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Technique.InventoryNumber"></label>
        <input asp-for="Technique.InventoryNumber" class="form-control">
        <span asp-validation-for="Technique.InventoryNumber" class="text-danger"></span>
    </div>
    @if(Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Pc
    || Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Monitor
    || Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Keyboard
    || Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Mouse)
    {
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="IsComplect">
                    <input asp-for="IsComplect" />
                    @Html.DisplayNameFor(m => m.IsComplect)
                </label>
            </div>
        </div>
    }
    @if(Model.Technique.TypeTechnique is EngeneerLenRooAspNet.Services.TypeTechnique.Printer)
    {
        <div class="form-group">
            <label asp-for="CartridgeName"></label>
            <input asp-for="CartridgeName" class="form-control">
            <span asp-validation-for="CartridgeName" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="Technique.Description"></label>
        <textarea asp-for="Technique.Description" class="form-control"></textarea>
        <span asp-validation-for="Technique.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="IsReturn">
                <input asp-for="IsReturn" />
                @Html.DisplayNameFor(m => m.IsReturn)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
    <a class="btn btn-primary" asp-action="Index" asp-route-empId="@Model.Employee.Id">Отмена</a>
</form>
<div class="row">
    <hr />
    <small class="text-danger"><sup>*</sup>Если указан <b>инвентраный номер</b> или омечен пункт <b>Добавить комплектом</b>, количесвто при добавлении будет 1!!!</small>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}