@using System.Globalization;
@model ChatViewModel
@{
    int datePreview = 0;
    int dateActive = 1;
}

<div id="chatroom@(Model.ChatActive.Id)" class="px-4 py-5 chat-box bg-light chatroombox chatroomboxActive">

    @if (Model.ChatActive.Messages.Count == 0)
    {
        <div id="chatempty" class="card text-center">
            <div class="card-body">
                Диалог пуст. Напишите первое сообщение.
            </div>
        </div>
    }
    @foreach (var message in Model.ChatActive?.Messages)
    {
        dateActive = message.DateTime.DayOfYear;
        if(dateActive > datePreview)
        {
            <hr class="hr-text" data-content="@(message.DateTime.ToString("D", new CultureInfo("ru-RU")))">
        }
        if (message.User == Model.User)
        {
            <div class="media ml-auto mb-3" style="width: 65%;">
                <div class="media-body">
                    <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">@message.Text</p>
                        <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") text-light"></i>
                    </div>
                    <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                </div>
            </div>
        }
        else
        {
            <div class="media w-75 mb-3">
                <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-3">
                    <div class="bg-light rounded py-2 px-3 mb-2 shadow">
                        <p class="text-small mb-0 text-muted">@message.Text</p>
                        <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all")"></i>
                    </div>
                    <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                </div>
            </div>
        }
        datePreview = message.DateTime.DayOfYear;
    }

</div>

<div id="inputForm" class="input-group shadow-lg">
    <input id="messageinput" type="text" placeholder="Введите сообщение..." aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light" onkeydown="sendMessageInput(`@Model.ChatActive.Id`,'@Model.User.Id');" onclick="Read('@Model.User.Id', `@Model.ChatActive.Id`);">
    <div class="input-group-append">
        <button id="sendButton" type="button" onclick="Send(`@Model.ChatActive.Id`, `@Model.User.Id`, `@Model.User.Fio`,);" class="btn btn-link bg-light"> <i class="bi bi-send"></i></button>
    </div>
</div>
<script>
    scrollToLowerChat();
    Read('@Model.User.Id', `@Model.ChatActive.Id`);
</script>