@using System.Globalization;
@model ChatViewModel
@{
    int datePreview = 0;
    int dateActive = 1;
}
@if (!Model.IsAllMessageLoad)
{
    <a id="loadMessageCount@(Model.CountMessageLoad)" href="#" class="text-muted text-center" onclick="loadChatMessage('@Model.ChatActive.Id','@Model.CountMessageLoad')">
        Загрузить еще...
    </a>
    <div id="loadMessageCountChat@(Model.CountMessageLoad)" style="
  scroll-margin-bottom: 150px;">
    </div>
}
@foreach (var message in Model.ChatActive?.Messages.OrderBy(d => d.DateTime))
{
    dateActive = message.DateTime.DayOfYear;
    if (dateActive > datePreview)
    {
        <hr class="hr-text" data-content="@(message.DateTime.ToString("D", new CultureInfo("ru-RU")))">
    }

    if (message.User == Model.User)
    {
        if(message.File is null)
        {
            <div class="media ml-auto mb-3 float-right" style="max-width: 65%;">
                <div class="media-body">
                    <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">@message.Text</p>
                        <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") text-light"></i>
                    </div>
                    <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                </div>
            </div>
        }
        else
        {
            if(message.File.TypeFile is TypeFile.text)
            {
                <div class="media ml-auto mb-3 float-right" style="max-width: 65%;">
                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <div class="d-flex alert alert-info bg-opacity-50">
                                <a href="@message.File.Path" class="text-dark" download="file">
                                    <div class="row">
                                        <p>
                                            <i class="bi bi-download pr-3"></i>@message.File.OriginalName
                                        </p>
                                    </div>
                                    <div class="row">
                                        Скачать -> @message.File.GetSizeToString()
                                    </div>
                                </a>
                            </div>
                            <p class="text-small mb-0 text-white">@message.Text</p>
                            <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") text-light"></i>
                        </div>
                        <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                    </div>
                </div>
            }
            else
            {
                <div class="media ml-auto mb-3 float-right" style="max-width: 65%;">
                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <img src="@message.File.Path" class="img-thumbnail" style="max-width: 200px;">
                            <p class="text-small mb-0 text-white">@message.Text</p>
                            <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") text-light"></i>
                        </div>
                        <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                    </div>
                </div>
            }
        }
    }
    else
    {
        if (message.File is null)
        {
            <div class="media mr-auto mb-3 float-left" style="max-width: 65%;">
                <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-3">
                    <div class="bg-light rounded py-2 px-3 mb-2 shadow">
                        @if (Model.ChatActive.TypeChat is TypeChat.Group)
                        {
                            <p class="text-small text-muted">@message.User.GetShortFio()</p>
                        }
                        <p class="mb-0">@message.Text</p>
                        <div class="d-flex align-items-center">
                            <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all")"></i>
                            @if (Model.ChatActive.TypeChat is TypeChat.Group && Model.ChatActive.EmployeeAdministrator == message.User)
                            {
                                <div class="text-muted text-small">Администратор</div>
                            }
                        </div>

                    </div>
                    <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                </div>
            </div>
        }
        else
        {
            if (message.File.TypeFile is TypeFile.text)
            {
                <div class="media mr-auto mb-3 float-left" style="max-width: 65%;">
                    <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2 shadow">
                            @if (Model.ChatActive.TypeChat is TypeChat.Group)
                            {
                                <p class="text-small text-muted">@message.User.GetShortFio()</p>
                            }
                            <div class="d-flex alert alert-info bg-opacity-50">
                                <a href="@message.File.Path" class="text-dark" download="file">
                                    <div class="row">
                                        <p>
                                            <i class="bi bi-download pr-3"></i>@message.File.OriginalName
                                        </p>
                                    </div>
                                    <div class="row">
                                        Скачать -> @message.File.GetSizeToString()
                                    </div>
                                </a>
                            </div>
                            <p class="mb-0">@message.Text</p>
                            <div class="d-flex align-items-center">
                                <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all")"></i>
                                @if (Model.ChatActive.TypeChat is TypeChat.Group && Model.ChatActive.EmployeeAdministrator == message.User)
                                {
                                    <div class="text-muted text-small">Администратор</div>
                                }
                            </div>

                        </div>
                        <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                    </div>
                </div>
            }
            else
            {
                <div class="media mr-auto mb-3 float-left" style="max-width: 65%;">
                    <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2 shadow">
                            @if (Model.ChatActive.TypeChat is TypeChat.Group)
                            {
                                <p class="text-small text-muted">@message.User.GetShortFio()</p>
                            }
                            <img src="@message.File.Path" class="img-thumbnail" style="max-width: 200px;">
                            <p class="mb-0">@message.Text</p>
                            <div class="d-flex align-items-center">
                                <i id="messageBoxId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all")"></i>
                                @if (Model.ChatActive.TypeChat is TypeChat.Group && Model.ChatActive.EmployeeAdministrator == message.User)
                                {
                                    <div class="text-muted text-small">Администратор</div>
                                }
                            </div>

                        </div>
                        <p class="small text-muted">@message.DateTime.ToShortTimeString()</p>
                    </div>
                </div>
            }
        }
    }
    datePreview = message.DateTime.DayOfYear;
}
<script>
    scrollToLowerChat();
</script>