@using System.Globalization;
@model ChatViewModel
<p id="userId" class="d-none">@Model.User.Id</p>
<p id="chatActiveMessageBoxId" class="d-none">@Model?.ChatActive?.Id</p>
<div class="list-group rounded-0">
    @if (Model.Chats.Count == 0)
    {
        <div class="bg-gray px-4 py-2 bg-light">
            <p class="h6 mb-0 py-1">Список чатов пуст.</p>
        </div>
    }
    @foreach (var chat in Model.Chats)
    {
        if (chat.TypeChat is TypeChat.Direct)
        {
            Message message = null;
            if (chat.Messages.Count() != 0)
            {
                message = chat.Messages?.OrderByDescending(d => d.DateTime)?.First();
            }
            <a id="chatListItem@(chat.Id)" href="#" onclick="chatLoad(@chat.Id, `@(Url.ActionLink("ChatLoad", "Chat"))/`);" class="chatListItem list-group-item list-group-item-action @(Model.ChatActive?.Id == chat.Id ? "active" : "") rounded-0">
                <div class="media">
                    <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                    <div class="media-body chat-list-body ml-4">
                        <div class="align-items-center justify-content-between mb-1">
                            <div class="d-flex justify-content-between align-content-center flex-nowrap">
                                <h6 class="mb-0 float-left">@chat.ChatUsers.FirstOrDefault(u => u.Id != Model.User.Id).GetShortFio()</h6>
                                @if (message != null && message.Status == StatusMessage.NotRead && message.User != Model.User)
                                {
                                    <i id="chatNewMessageId@(chat.Id)" class="bi bi-envelope-plus-fill @(Model?.ChatActive?.Id == chat.Id ? "text-light" : "text-info")  float-end"></i>
                                }
                                else
                                {
                                    if (message != null)
                                    {
                                        <i id="messageId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") float-end"></i>
                                    }
                                }
                            </div>
                            @if (message != null)
                            {
                                <div class="row">
                                    <p id="messagePrint@(chat.Id)" class="col-8 font-italic mb-0 text-small text-truncate float-start">@message.GetTypeMessageMessageBox(Model.User)</p>
                                    <p class="col-4 mb-0 text-small float-end">
                                        @(message.DateTime.ToString("ddd, H:mm", new CultureInfo("ru-RU")))
                                    </p>
                                </div>
                            }
                            else
                            {
                                <small class="small font-weight-bold">
                                    Чат пуст.
                                </small>
                            }
                        </div>
                    </div>
                </div>
            </a>
        }
        else
        {
            Message message = null;
            if (chat.Messages.Count() != 0)
            {
                message = chat.Messages?.OrderByDescending(d => d.DateTime)?.First();
            }
            <a id="chatListItem@(chat.Id)" href="#" onclick="chatLoad(@chat.Id);" class="chatListItem list-group-item list-group-item-action @(Model.ChatActive?.Id == chat.Id ? "active" : "") rounded-0">
                <div class="media">
                    <img src="~/img/resource/direct-icon.png" alt="user" width="50" class="rounded-circle">
                    <div class="media-body chat-list-body ml-4">
                        <div class="align-items-center justify-content-between mb-1">
                            <div class="d-flex justify-content-between align-content-center flex-nowrap">
                                <h6 class="mb-0 float-left">@chat.Name</h6>
                                @if (message != null && message.Status == StatusMessage.NotRead && message.User != Model.User)
                                {
                                    <i id="chatNewMessageId@(chat.Id)" class="bi bi-envelope-plus-fill @(Model?.ChatActive?.Id == chat.Id ? "text-light" : "text-info")  float-end"></i>
                                }
                                else
                                {
                                    if (message != null)
                                    {
                                        <i id="messageId@(message.Id)" class="bi bi-@(message.Status is StatusMessage.NotRead ? "check" : "check-all") float-end"></i>
                                    }
                                }
                            </div>
                            @if (message != null)
                            {
                                <div class="row">
                                    <p id="messagePrint@(chat.Id)" class="col-8 font-italic mb-0 text-small text-truncate float-start">@message.GetTypeMessageMessageBox(Model.User)</p>
                                    <p class="col-4 mb-0 text-small float-end">
                                        @(message.DateTime.ToString("ddd, H:mm", new CultureInfo("ru-RU")))
                                    </p>
                                </div>
                            }
                            else
                            {
                                <small class="small font-weight-bold">
                                    Чат пуст.
                                </small>
                            }
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    <div class="bg-gray px-4 py-2 bg-light d-flex">
        <div class="col p-0">
            <p class="h6 mb-0 py-1">Пользователи</p>
        </div>
    </div>
    @if (Model.Employees.Where(e => Model.User.IsCanIWriteUser(e)).Count() == 0)
    {
        <div class="bg-gray px-4 py-2 bg-light">
            <p class="h6 mb-0 py-1">Список сотрудников пуст.</p>
        </div>
    }
    @foreach (var employee in Model.Employees.Where(e => Model.User.IsCanIWriteUser(e) && e.Id != Model.User.Id))
    {
        <a class="list-group-item list-group-item-action rounded-0" href="#" onclick="chatCreate('@employee.Id');">
            <div class="media">
                <img src="~/img/resource/user-icon.png" alt="user" width="50" class="rounded-circle">
                <div class="media-body chat-list-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">@employee.Fio</h6>
                    </div>
                </div>
            </div>
        </a>
    }
</div>