@model Employee

@{
    ViewData["Title"] = "Редактирование сотрудника";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Кабинеты</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Info" asp-route-id="@Model.CabinetId">Кабинет @Model.Cabinet.Name</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Info" asp-route-id="@Model.CabinetId">@Model.Fio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
</nav>

<form method="post" asp-action="EditModel">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" style="display: none;" value="@Model.Id"/>
    <input asp-for="CabinetId" style="display: none;" value="@Model.Cabinet.Id"/>
    <div class="form-group">
        <label asp-for="Fio"></label>
        <input asp-for="Fio" class="form-control"/>
        <span asp-validation-for="Fio" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <div class="col">
            <label asp-for="IpComputer"></label>
            <input asp-for="IpComputer" class="form-control"/>
            <span asp-validation-for="IpComputer" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="NumberPcMap"></label>
            <input asp-for="NumberPcMap" class="form-control"/>
            <span asp-validation-for="NumberPcMap" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="UserMap"></label>
            <input asp-for="UserMap" class="form-control"/>
            <span asp-validation-for="UserMap" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Обновить</button>
        <a asp-controller="Home" asp-action="Info" asp-route-id="@Model.Cabinet.Id" class="btn btn-primary">Отмена</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}