@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Список пользователей";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Управление</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<hr/>
@if (Model.Count() == 0)
{
    <h5 class="text-center">
        Список пользователей пуст.
    </h5>
}
<div class="row">
    @foreach (var user in Model)
    {
        <div class="card mr-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@user.Email</h5>
                <p class="card-text">
                    @foreach (var role in await _userManager.GetRolesAsync(user))
                    {
                        @($"{role}, ")
                    }
                </p>
                <a class="card-link text-primary" asp-controller="Role" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                <a class="card-link text-danger" asp-controller="Role" asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
            </div>
        </div>
    }
</div>