@using EngeneerLenRooAspNet.Services
@model List<Cabinet>
@{
    ViewData["Title"] = "Инвентарь";
    var isSearch = ViewData["Search"] ?? false;
    var searchString = (bool) isSearch ? (string) ViewData["SearchString"] : "";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (!(bool) isSearch)
        {
            <li class="breadcrumb-item active" aria-current="page">Кабинеты</li>
        }
        else
        {
            <li class="breadcrumb-item">
                <a asp-action="Index">Кабинеты</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Поиск кабинета @searchString</li>
        }
    </ol>
</nav>
<nav class="navbar navbar-search navbar-light bg-secondary justify-content-between">
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Create"><i class="bi bi-plus-square"></i> Добавить кабинет</a>
    <a class="btn btn-info my-2" asp-action="Report071Check">Отчет по 071 счету</a>
    <form class="form-inline my-2 my-lg-0" asp-action="Search">
        <div class="row">
            <div class="col-lg-7 col-sm-12" style="display: flex;">
                <input class="form-control" name="search" type="search" placeholder="Поиск кабинета" aria-label="Поиск кабинета">
                <button class="btn btn-success mr-2" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="col-lg mr-2">
                <a class="btn btn-success" asp-controller="Home" asp-action="SearchExtended"><i class="bi bi-search"></i> Расширенный</a>
            </div>
        </div>
    </form>
</nav>

@*@{
    if (Model.Count != 0)
    {
        <div class="d-flex flex-wrap justify-content-start">
            @foreach (var item in Model)
            {
                <div class="card card-index border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Кабинет: @item.Name</h5>
                        <h6 class="card-subtitle mb-2">Сотрудников: @item.Employees.Count</h6>
                        <p class="card-text">
                            Компьютеров: @(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Pc))).
                            Мониторов: @(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Monitor))).
                            Клавиатур: @(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Keyboard))).
                            Мышек: @(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Mouse))).
                            Принтеров: @(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Printer))).
                        </p>
                        <a class="card-link" asp-action="Info" asp-route-id="@item.Id">Просмотреть </a>
                        <form style="display: inline-block;" id="delete_cab_@(item.Id)_form" method="post" asp-action="Delete" asp-route-id="@item.Id">
                            <a href="javascript:{}" onclick="document.getElementById('delete_cab_@(item.Id)_form').submit();" class="card-link text-danger">Удалить кабинет</a>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3>Список кабинетов пуст</h3>
    }
}*@

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Кабинеты
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Кабинет</th>
                                    <th>Cотрудники</th>
                                    <th>Компьютеры</th>
                                    <th>Мониторы</th>
                                    <th>Клавиатуры</th>
                                    <th>Мыш</th>
                                    <th>Принтеры</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.Name</th>
                                        <th>@item.Employees.Count</th>
                                        <th>@(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Pc)))</th>
                                        <th>@(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Monitor)))</th>
                                        <th>@(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Keyboard)))</th>
                                        <th>@(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Mouse)))</th>
                                        <th>@(item.Employees.Sum(th => th.Techniques.Count(pc => pc.TypeTechnique == TypeTechnique.Printer)))</th>
                                        <th>
                                            <a class="card-link" asp-action="Info" asp-route-id="@item.Id">Просмотреть </a>
                                        </th>
                                        <th>
                                            @if(item.Employees.Sum(t => t.Techniques.Count()) == 0 && item.Employees.Count == 0)
                                            {
                                                <form style="display: inline-block;" id="delete_cab_@(item.Id)_form" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                                    <a href="javascript:{}" onclick="document.getElementById('delete_cab_@(item.Id)_form').submit();" class="card-link text-danger">Удалить кабинет</a>
                                                </form>
                                            }
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>