@using EngeneerLenRooAspNet.Services
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Центр для обеспечения деятельности</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/style_dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-lg-block" asp-area="" asp-controller="Chat" asp-action="Index">Центр</a>
                <a class="navbar-brand d-sm-none" asp-area="" asp-controller="Chat" asp-action="Index">Центр</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Chat" asp-action="Index">Общий чат</a>
                            </li>
                            @if (User.IsInRole("admin"))
                            {
                                <partial name="_LayoutAdminPartial" />
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Index">Профиль</a>
                                </li>
                            }
                        </ul>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class=" main pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function scrollToLowerChat() {
            $('.chatroombox').scrollTop(@int.MaxValue);
        }
        function messagesBoxPartialUpdateDirect(idChatDirect) {
            $('#messagesbox').load('@Url.ActionLink("MessageBoxPartialUpdateDirect","Chat")/' + idChatDirect);
        }
        function messagesBoxPartialSearchDirect(idChatDirect, search) {
            $('#messagesbox').load('@Url.ActionLink("MessageBoxPartialUpdateDirect","Chat")/' + idChatDirect + '/' + search);
        }
        function messagesBoxPartialUpdate() {
            $('#messagesbox').load('@Url.ActionLink("MessageBoxPartialUpdate","Chat")');
        }
        function messagesBoxPartialSearch(search) {
            $('#messagesbox').load('@Url.ActionLink("MessageBoxPartialUpdate","Chat")/' + search.trim());
        }
        function search() {
            const idChatDirect = document.getElementById('chatActiveMessageBoxId').innerHTML;
            const search = document.getElementById('searchEmployeeInput').value;
            if (search.trim() == "") {
                if (idChatDirect == null || idChatDirect.trim() == "") {
                    messagesBoxPartialUpdate();
                }
                else {
                    messagesBoxPartialUpdateDirect(idChatDirect);
                }
            }
            else {
                if (idChatDirect == null || idChatDirect.trim() == "") {
                    messagesBoxPartialSearch(search);
                }
                else {
                    messagesBoxPartialSearchDirect(idChatDirect, search);
                }
            }
        }
        function cleareSearch() {
            document.getElementById('searchEmployeeInput').value = '';
            search();
        }
        function chatLoad(idChat) {
            var elem = document.getElementById("chatroombox");
            if (elem !== null) {
                elem.innerHTML = `
                            <div class="col d-flex justify-content-center align-items-center h-100">
                                <div id="loadSpinner" class="spinner-border text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>`;
            }
            setTimeout(
                () => {
                    $('#chatroombox').load('@Url.ActionLink("ChatLoad", "Chat")/' + idChat, function (response, status, xhr) {
                        if (status == "success") {
                            var chatsList = document.getElementsByClassName('chatListItem');
                            for (var i = 0; i < chatsList.length; i++) {
                                chatsList[i].classList.remove('active');
                            }
                            document.getElementById('chatListItem' + idChat).classList.add('active');
                            const chatActiveId = document.getElementById('chatActiveMessageBoxId');
                            chatActiveId.innerHTML = idChat;
                            var elem = document.getElementById("chatNewMessageId" + idChat);
                            if (elem !== null) {
                                elem.parentNode.removeChild(elem);
                            }
                            var spinner = document.getElementById("loadSpinner");
                            spinner.parentNode.removeChild(spinner);
                        }
                        else {
                            elem.innerHTML = `<i class="bi bi-close">Ошибка загрузки чата</i>`;
                        }
                    });
                },
                0.5 * 1000
            );
        }
        function chatCreate(userDirectId) {
            var elem = document.getElementById("chatroombox");
            if (elem !== null) {
                elem.innerHTML = `
                                    <div class="col d-flex justify-content-center align-items-center h-100">
                                        <div id="loadSpinner" class="spinner-border text-success" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>`;
            }
            setTimeout(
                () => {
                    $('#chatroombox').load('@Url.ActionLink("CreateDialog", "Chat")/' + userDirectId, function (response, status, xhr) {
                        if (status == "success") {
                            var spinner = document.getElementById("loadSpinner");
                            spinner.parentNode.removeChild(spinner);
                        }
                        else {
                            elem.innerHTML = `<i class="bi bi-close">Ошибка загрузки чата.</i>`;
                        }
                    });
                },
                0.5 * 1000
            );


        }
        function sendMessageInput(idChat, user) {
            document.getElementById("messageinput").onkeydown = function (e) {
                if (e.keyCode == 13) {
                    document.getElementById("sendButton").click();
                }
                Print(idChat, user);
            }
        }
        function loadChatMessage(chatId, countLoadMessage) {
            var elem = document.getElementById('loadMessageCount' + countLoadMessage);
            elem.innerHTML = `<div id="loadSpinner" class="spinner-border text-success text-center" role="status">
                                                            <span class="sr-only">Loading...</span>
                                                        </div>`;

            setTimeout(
                () => {
                    $('#loadMessageCountChat' + countLoadMessage).load('@Url.ActionLink("LoadMessage", "Chat")/' + chatId + '/' + countLoadMessage, function (response, status, xhr) {
                        if (status == "success") {
                            var messagesDiv = document.getElementById('loadMessageCountChat' + countLoadMessage);
                            messagesDiv.scrollIntoView({ block: "end", behavior: "smooth" });
                            elem.parentNode.removeChild(elem);
                        }
                        else {
                            elem.innerHTML = `<i class="bi bi-close">Ошибка загрузки сообщений.</i>`;
                        }
                    });
                },
                0.5 * 1000
            );
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>